

body{
    background-image: url("../images/psychic.jpg");
}

h1{
    font-size: 36px;
    color: white;
    font-weight: 500;
    /* background-color: rgb(145, 33, 145); */
    height: 50px;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 20px;
}
 h2{
     font-family: fantasy;
     font-weight: 400;
     font-size: 25px;
     margin-left: 50px;
     padding-bottom: 10px;
     padding-top: 20px;
 }

p{
    font-family: fantasy;
    margin-left: 50px;
    line-height: 20px;
    color: white;
}